* {
    box-sizing: border-box;
}
img {
    width: 100%;
}

div.container-fluid {
    padding-left: 20px;
    padding-right: 0px;
}

header {
    padding-top: 20px; 
    /*background-color: white; */
}

.navbar-header {
    background-color: white;
    width: 100%;
}

.navbar-default .navbar-brand {
    color: #F56400; 
    font-family: serif;
    font-size: 35px; 
    /*padding-left: 20px;*/
}

/*I tried this to make everything in this row align right, but it didn't change anything. There's no padding on it. No margin. So why is it all the way in the middle?*/
/*.signBuy {
    text-align: right;
}*/

/*Okay . . . WHY won't this stretch across the page?? Why do I get padding when I've told it no padding? */
.navbar-default .navbar-nav {
    background-color: white;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px; 
}

.navbar-default .navbar-nav>li>a:hover {
    /*background-color: deeppink;*/
    /*QQRAGEN: MAKE THIS HAVE A RED BOTTOM BORDER LINE WHEN HOVER.*/
} 

/*had to use this to get rid of the white strip of space between the header and main.*/
nav.navbar.navbar-default {
    margin: 0px; 
    border: 0px; 
}

.mainResults {
    background-color: #FAF9F5;
    padding: 20px;
    margin-right: 5px;
    margin-left: 5px;
    width: 100%;
}

.card {
    max-width: 300px;
    border: 1px solid #E1E3DF;
    border-radius: 5px;
    margin-bottom: 25px; 
    box-shadow: 0px 0px 5px 0px #C9CAC7;
    background: white;
    display: inline-block;
}
.cardCol {
    padding-left: 5px;
    padding-right: 5px;
}

.card-caption {
    text-align: left;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.sellerName {
    color: #9A9A9A;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.pricing {
    color: #78C042;
    padding-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}